<div class="jumbotron mt4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, repellendus deleniti obcaecati, corrupti ipsa exercitationem reiciendis incidunt porro, et natus quas asperiores excepturi ad molestias impedit. Alias vero officia voluptates.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At accusamus perferendis, nihil id provident aliquid beatae ut officia atque voluptatem!</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">faztWeb</a>

   

</div>

